[project]
name = "{{ project_name }}"
version = "0.1.0"
description = "{{ project_description }}"
readme = "README.md"
requires-python = ">=3.12"
dependencies = []

[tool.uv]
dev-dependencies = [
    "ruff",
	{%- if use_mypy %}
    "mypy",
	{%- endif %}
    "pre-commit",
    "freezegun",
    "pytest",
    "pytest-watcher",
    "pytest-asyncio",
    "pytest-mock",
    "pytest-socket",
    "pytest-xdist",
]

[tool.pytest.ini_options]
testpaths = ["tests"]
asyncio_mode = "auto"
pythonpath = ["src"]

[tool.ruff]
line-length = 100
target-version = "py312"

[tool.ruff.lint]
extend-select = ["I"]
{% if use_mypy %}
[tool.mypy]
python_version = "3.12"
mypy_path = "src:tests"
strict = true
ignore_missing_imports = true
exclude = [".venv"]

[[tool.mypy.overrides]]
module = [
  "tests.*",
]
disallow_untyped_defs = false
disallow_incomplete_defs = false
disallow_any_generics = false
disallow_subclassing_any = false
{%- endif -%}
